In [1]:
%matplotlib inline

In [2]:
from pathlib import Path
import pandas as pd

In [3]:
events_file = Path(r'athlete_events.csv')

In [4]:
events_file.exists()

True

In [5]:
Path('.').resolve()

PosixPath('/projects/74a265fa-fd1b-4307-9bcc-4dcedb643296')

In [6]:
db = pd.read_csv(r'athlete_events.csv')

In [8]:
db

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [9]:
db['NOC'].unique()

array(['CHN', 'DEN', 'NED', 'USA', 'FIN', 'NOR', 'ROU', 'EST', 'FRA',
       'MAR', 'ESP', 'EGY', 'IRI', 'BUL', 'ITA', 'CHA', 'AZE', 'SUD',
       'RUS', 'ARG', 'CUB', 'BLR', 'GRE', 'CMR', 'TUR', 'CHI', 'MEX',
       'URS', 'NCA', 'HUN', 'NGR', 'ALG', 'KUW', 'BRN', 'PAK', 'IRQ',
       'UAR', 'LIB', 'QAT', 'MAS', 'GER', 'CAN', 'IRL', 'AUS', 'RSA',
       'ERI', 'TAN', 'JOR', 'TUN', 'LBA', 'BEL', 'DJI', 'PLE', 'COM',
       'KAZ', 'BRU', 'IND', 'KSA', 'SYR', 'MDV', 'ETH', 'UAE', 'YAR',
       'INA', 'PHI', 'SGP', 'UZB', 'KGZ', 'TJK', 'EUN', 'JPN', 'CGO',
       'SUI', 'BRA', 'FRG', 'GDR', 'MON', 'ISR', 'URU', 'SWE', 'ISV',
       'SRI', 'ARM', 'CIV', 'KEN', 'BEN', 'UKR', 'GBR', 'GHA', 'SOM',
       'LAT', 'NIG', 'MLI', 'AFG', 'POL', 'CRC', 'PAN', 'GEO', 'SLO',
       'CRO', 'GUY', 'NZL', 'POR', 'PAR', 'ANG', 'VEN', 'COL', 'BAN',
       'PER', 'ESA', 'PUR', 'UGA', 'HON', 'ECU', 'TKM', 'MRI', 'SEY',
       'TCH', 'LUX', 'MTN', 'CZE', 'SKN', 'TTO', 'DOM', 'VIN', 'JAM',
       'LBR', 'SUR', 'NEP', 'MGL', 'AUT', 'PLW', 'LTU', 'TOG', 'NAM',
       'AHO', 'ISL', 'ASA', 'SAM', 'RWA', 'DMA', 'HAI', 'MLT', 'CYP',
       'GUI', 'BIZ', 'YMD', 'KOR', 'THA', 'BER', 'ANZ', 'SCG', 'SLE',
       'PNG', 'YEM', 'IOA', 'OMA', 'FIJ', 'VAN', 'MDA', 'YUG', 'BAH',
       'GUA', 'SRB', 'IVB', 'MOZ', 'CAF', 'MAD', 'MAL', 'BIH', 'GUM',
       'CAY', 'SVK', 'BAR', 'GBS', 'TLS', 'COD', 'GAB', 'SMR', 'LAO',
       'BOT', 'ROT', 'CAM', 'PRK', 'SOL', 'SEN', 'CPV', 'CRT', 'GEQ',
       'BOL', 'SAA', 'AND', 'ANT', 'ZIM', 'GRN', 'HKG', 'LCA', 'FSM',
       'MYA', 'MAW', 'ZAM', 'RHO', 'TPE', 'STP', 'MKD', 'BOH', 'TGA',
       'LIE', 'MNE', 'GAM', 'COK', 'ALB', 'WIF', 'SWZ', 'BUR', 'NBO',
       'BDI', 'ARU', 'NRU', 'VNM', 'VIE', 'BHU', 'MHL', 'KIR', 'UNK',
       'TUV', 'NFL', 'KOS', 'SSD', 'LES'], dtype=object)

In [10]:
len(db)

271116

In [7]:
medals = db.dropna(subset=['Medal'])

In [8]:
medals

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
37,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 200 metres Breaststroke,Bronze
38,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 400 metres Breaststroke,Bronze
40,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014 Winter,2014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze
41,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,Bronze
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271078,135553,Galina Ivanovna Zybina (-Fyodorova),F,25.0,168.0,80.0,Soviet Union,URS,1956 Summer,1956,Summer,Melbourne,Athletics,Athletics Women's Shot Put,Silver
271080,135553,Galina Ivanovna Zybina (-Fyodorova),F,33.0,168.0,80.0,Soviet Union,URS,1964 Summer,1964,Summer,Tokyo,Athletics,Athletics Women's Shot Put,Bronze
271082,135554,Bogusaw Zych,M,28.0,182.0,82.0,Poland,POL,1980 Summer,1980,Summer,Moskva,Fencing,"Fencing Men's Foil, Team",Bronze
271102,135563,Olesya Nikolayevna Zykina,F,19.0,171.0,64.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Women's 4 x 400 metres Relay,Bronze
271103,135563,Olesya Nikolayevna Zykina,F,23.0,171.0,64.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Athletics,Athletics Women's 4 x 400 metres Relay,Silver

In [13]:
len(medals)

39783

In [14]:
len(medals) / len(db)

0.14673792767671404

In [15]:
medal_counts = {}

In [23]:
medals[medals['Medal'] == 'Gold']

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
42,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,Gold
44,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Horse Vault,Gold
48,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Pommelled Horse,Gold
60,20,Kjetil Andr Aamodt,M,20.0,176.0,85.0,Norway,NOR,1992 Winter,1992,Winter,Albertville,Alpine Skiing,Alpine Skiing Men's Super G,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270981,135503,Zurab Zviadauri,M,23.0,182.0,90.0,Georgia,GEO,2004 Summer,2004,Summer,Athina,Judo,Judo Men's Middleweight,Gold
271009,135520,Julia Zwehl,F,28.0,167.0,60.0,Germany,GER,2004 Summer,2004,Summer,Athina,Hockey,Hockey Women's Hockey,Gold
271016,135523,"Ronald Ferdinand ""Ron"" Zwerver",M,29.0,200.0,93.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Volleyball,Volleyball Men's Volleyball,Gold
271049,135545,Henk Jan Zwolle,M,31.0,197.0,93.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Rowing,Rowing Men's Coxed Eights,Gold
271076,135553,Galina Ivanovna Zybina (-Fyodorova),F,21.0,168.0,80.0,Soviet Union,URS,1952 Summer,1952,Summer,Helsinki,Athletics,Athletics Women's Shot Put,Gold

In [16]:
for country, medals_country in medals.groupby('NOC'):
    print(country)
    medals_country[medals_country['Medal'] == 'Gold']

AFG
AHO
ALG
ANZ
ARG
ARM
AUS
AUT
AZE
BAH
BAR
BDI
BEL
BER
BLR
BOH
BOT
BRA
BRN
BUL
CAN
CHI
CHN
CIV
CMR
COL
CRC
CRO
CUB
CYP
CZE
DEN
DJI
DOM
ECU
EGY
ERI
ESP
EST
ETH
EUN
FIJ
FIN
FRA
FRG
GAB
GBR
GDR
GEO
GER
GHA
GRE
GRN
GUA
GUY
HAI
HKG
HUN
INA
IND
IOA
IRI
IRL
IRQ
ISL
ISR
ISV
ITA
JAM
JOR
JPN
KAZ
KEN
KGZ
KOR
KOS
KSA
KUW
LAT
LIB
LIE
LTU
LUX
MAR
MAS
MDA
MEX
MGL
MKD
MNE
MON
MOZ
MRI
NAM
NED
NEP
NGR
NIG
NOR
NZL
PAK
PAN
PAR
PER
PHI
POL
POR
PRK
PUR
QAT
ROU
RSA
RUS
SCG
SEN
SGP
SLO
SRB
SRI
SUD
SUI
SUR
SVK
SWE
SYR
TAN
TCH
TGA
THA
TJK
TOG
TPE
TTO
TUN
TUR
UAE
UAR
UGA
UKR
URS
URU
USA
UZB
VEN
VIE
WIF
YUG
ZAM
ZIM

In [9]:
country_list = medals['NOC'].unique()
country_list

array(['DEN', 'FIN', 'NOR', 'NED', 'FRA', 'ITA', 'ESP', 'AZE', 'RUS',
       'BLR', 'CMR', 'USA', 'HUN', 'GRE', 'AUS', 'IRI', 'CAN', 'PAK',
       'URS', 'UZB', 'TJK', 'EUN', 'JPN', 'ETH', 'SUI', 'GDR', 'SWE',
       'RSA', 'TUR', 'BUL', 'EGY', 'GBR', 'JOR', 'ROU', 'PUR', 'MEX',
       'GHA', 'MAR', 'NZL', 'GER', 'ARG', 'CUB', 'URU', 'POL', 'TCH',
       'NGR', 'BRA', 'AUT', 'LTU', 'INA', 'CHI', 'UKR', 'UGA', 'SYR',
       'QAT', 'KUW', 'IOA', 'KSA', 'UAE', 'CRO', 'FRG', 'ARM', 'SRB',
       'NIG', 'IND', 'BEL', 'ALG', 'JAM', 'TTO', 'COL', 'LUX', 'BOT',
       'TUN', 'KOR', 'PRK', 'CHN', 'YUG', 'GUY', 'ISR', 'KAZ', 'GEO',
       'KEN', 'ISL', 'HAI', 'MAS', 'IRQ', 'CZE', 'SVK', 'BAH', 'ANZ',
       'PAR', 'MNE', 'IRL', 'POR', 'GUA', 'SCG', 'TAN', 'LIB', 'KGZ',
       'LAT', 'AHO', 'VEN', 'THA', 'TOG', 'PER', 'EST', 'SLO', 'NEP',
       'TPE', 'ZIM', 'MGL', 'MDA', 'CIV', 'FIJ', 'SEN', 'DOM', 'PHI',
       'UAR', 'SGP', 'NAM', 'LIE', 'WIF', 'BOH', 'BER', 'VIE', 'ISV',
       'MKD', 'SUD', 'BRN', 'GRN', 'SRI', 'MRI', 'KOS', 'HKG', 'CYP',
       'PAN', 'ZAM', 'MON', 'MOZ', 'SUR', 'AFG', 'BDI', 'GAB', 'ECU',
       'CRC', 'DJI', 'ERI', 'BAR', 'TGA'], dtype=object)

In [25]:
## Calculating the number of each medal type earned per country and the most recent year of each win

In [10]:
import numpy as np

In [12]:
len(country_list)

149

In [13]:
medals[medals['NOC'] == 'CHI']

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
2584,1447,Marlene Ahrens Ostertag (-Ebensperger),F,23.0,176.0,70.0,Chile,CHI,1956 Summer,1956,Summer,Melbourne,Athletics,Athletics Women's Javelin Throw,Silver
5562,3147,Cristin Andrs lvarez Valenzuela,M,20.0,173.0,62.0,Chile,CHI,2000 Summer,2000,Summer,Sydney,Football,Football Men's Football,Bronze
9714,5325,Francisco Esteban Arru Pardo,M,23.0,169.0,64.0,Chile,CHI,2000 Summer,2000,Summer,Sydney,Football,Football Men's Football,Bronze
15049,8118,Claudio Barrientos Negrn,M,21.0,NaN,NaN,Chile,CHI,1956 Summer,1956,Summer,Melbourne,Boxing,Boxing Men's Bantamweight,Bronze
44229,22804,Pablo Andrs Contreras Fica,M,22.0,180.0,77.0,Chile,CHI,2000 Summer,2000,Summer,Sydney,Football,Football Men's Football,Bronze
46175,23833,scar Cristi Gallo,M,36.0,NaN,NaN,Chile,CHI,1952 Summer,1952,Summer,Helsinki,Equestrianism,"Equestrianism Men's Jumping, Individual",Silver
46176,23833,scar Cristi Gallo,M,36.0,NaN,NaN,Chile,CHI,1952 Summer,1952,Summer,Helsinki,Equestrianism,"Equestrianism Men's Jumping, Team",Silver
50890,26177,Alfonso Marcos de Iruarrzaga Hoces de la Guardia,M,31.0,186.0,85.0,Chile,CHI,1988 Summer,1988,Summer,Seoul,Shooting,Shooting Mixed Skeet,Silver
61112,31314,Ricardo Echeverra,M,34.0,NaN,NaN,Chile,CHI,1952 Summer,1952,Summer,Helsinki,Equestrianism,"Equestrianism Men's Jumping, Team",Silver
81763,41512,Fernando Francisco Gonzlez Ciuffardi,M,24.0,182.0,82.0,Chile,CHI,2004 Summer,2004,Summer,Athina,Tennis,Tennis Men's Singles,Bronze
81764,41512,Fernando Francisco Gonzlez Ciuffardi,M,24.0,182.0,82.0,Chile,CHI,2004 Summer,2004,Summer,Athina,Tennis,Tennis Men's Doubles,Gold
81765,41512,Fernando Francisco Gonzlez Ciuffardi,M,28.0,182.0,82.0,Chile,CHI,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Men's Singles,Silver
82024,41649,Sebastin Ignacio Gonzlez Valds,M,21.0,173.0,67.0,Chile,CHI,2000 Summer,2000,Summer,Sydney,Football,Football Men's Football,Bronze
94296,47725,David Andrs Henrquez Espinoza,M,23.0,172.0,75.0,Chile,CHI,2000 Summer,2000,Summer,Sydney,Football,Football Men's Football,Bronze
101874,51518,Manuel Francisco Ibarra Valdes,M,22.0,166.0,64.0,Chile,CHI,2000 Summer,2000,Summer,Sydney,Football,Football Men's Football,Bronze
143425,71992,Carlos Lucas Manrquez,M,26.0,168.0,75.0,Chile,CHI,1956 Summer,1956,Summer,Melbourne,Boxing,Boxing Men's Light-Heavyweight,Bronze
147443,73998,Claudio Andrs del Trnsito Maldonado Rivera,M,20.0,173.0,67.0,Chile,CHI,2000 Summer,2000,Summer,Sydney,Football,Football Men's Football,Bronze
151943,76256,Nicols Alejandro Mass Fried,M,26.0,182.0,80.0,Chile,CHI,2004 Summer,2004,Summer,Athina,Tennis,Tennis Men's Singles,Gold
151944,76256,Nicols Alejandro Mass Fried,M,26.0,182.0,80.0,Chile,CHI,2004 Summer,2004,Summer,Athina,Tennis,Tennis Men's Doubles,Gold
156556,78643,Csar Leonidas Mendoza Durn,M,33.0,NaN,NaN,Chile,CHI,1952 Summer,1952,Summer,Helsinki,Equestrianism,"Equestrianism Men's Jumping, Team",Silver
168711,84793,Reinaldo Marcelino Navia Amador,M,22.0,170.0,70.0,Chile,CHI,2000 Summer,2000,Summer,Sydney,Football,Football Men's Football,Bronze
173885,87347,Rodrigo Fabin Nez Ortiz,M,23.0,180.0,70.0,Chile,CHI,2000 Summer,2000,Summer,Sydney,Football,Football Men's Football,Bronze
176200,88593,Rafael Andrs Olarra Guerrero,M,22.0,184.0,75.0,Chile,CHI,2000 Summer,2000,Summer,Sydney,Football,Football Men's Football,Bronze
178057,89477,Luis Patricio Ormazbal Mozo,M,21.0,170.0,65.0,Chile,CHI,2000 Summer,2000,Summer,Sydney,Football,Football Men's Football,Bronze
189719,95282,David Marcelo Pizarro Corts,M,21.0,166.0,62.0,Chile,CHI,2000 Summer,2000,Summer,Sydney,Football,Football Men's Football,Bronze
190002,95429,Manuel Jess Plaza Reyes,M,28.0,171.0,61.0,Chile,CHI,1928 Summer,1928,Summer,Amsterdam,Athletics,Athletics Men's Marathon,Silver
199560,100228,Pedro Antonio Reyes Gonzlez,M,27.0,184.0,80.0,Chile,CHI,2000 Summer,2000,Summer,Sydney,Football,Football Men's Football,Bronze
203308,102084,Mauricio Javier Rojas Toro,M,22.0,NaN,NaN,Chile,CHI,2000 Summer,2000,Summer,Sydney,Football,Football Men's Football,Bronze
236417,118537,Nelson Antonio Tapia Ros,M,33.0,175.0,73.0,Chile,CHI,2000 Summer,2000,Summer,Sydney,Football,Football Men's Football,Bronze
236418,118538,Ramn Tapia Zapata,M,24.0,NaN,NaN,Chile,CHI,1956 Summer,1956,Summer,Melbourne,Boxing,Boxing Men's Middleweight,Silver
237486,119112,Rodrigo lvaro Tello Valenzuela,M,20.0,170.0,68.0,Chile,CHI,2000 Summer,2000,Summer,Sydney,Football,Football Men's Football,Bronze
267605,133880,Ivn Luis Zamorano Zamora,M,33.0,179.0,76.0,Chile,CHI,2000 Summer,2000,Summer,Sydney,Football,Football Men's Football,Bronze

In [14]:
medals[medals['NOC'] == 'CHI'][['Medal']].eq('Gold').sum()

Medal    3
dtype: int64

# This works?

In [51]:
column_list = ['Country','Gold','Silver','Bronze','Most Recent Gold Year','Most Recent Silver Year','Most Recent Bronze Year']
zero_data = np.zeros(shape = (len(country_list),len(column_list)))

medal_amount_df = pd.DataFrame(zero_data,columns = column_list)

newmedals = medals.sort_values('NOC', ascending = False).drop_duplicates(subset=['Year','Event','Medal'])

for i in range(len(country_list)):
    medal_amount_df.loc[i, 'Country'] = country_list[i]
    medal_amount_df['Gold'].iloc[i] = newmedals[newmedals['NOC'] == country_list[i]][['Medal']].eq('Gold').sum()
    medal_amount_df['Silver'].iloc[i] = newmedals[newmedals['NOC'] == country_list[i]][['Medal']].eq('Silver').sum()
    medal_amount_df['Bronze'].iloc[i] = newmedals[newmedals['NOC'] == country_list[i]][['Medal']].eq('Bronze').sum()
    
    if len(newmedals[newmedals['NOC'] == country_list[i]][newmedals['Medal'] == 'Gold'].sort_values('Year', ascending = False)) != 0:
        medal_amount_df['Most Recent Gold Year'].iloc[i] = newmedals[newmedals['NOC'] == country_list[i]][newmedals['Medal'] == 'Gold'].sort_values('Year', ascending = False)['Year'].iloc[0]
    else:
        medal_amount_df['Most Recent Gold Year'].iloc[i] = ''
        
    if len(newmedals[newmedals['NOC'] == country_list[i]][newmedals['Medal'] == 'Silver'].sort_values('Year', ascending = False)) != 0:
        medal_amount_df['Most Recent Silver Year'].iloc[i] = newmedals[newmedals['NOC'] == country_list[i]][newmedals['Medal'] == 'Silver'].sort_values('Year', ascending = False)['Year'].iloc[0]
    else:
        medal_amount_df['Most Recent Silver Year'].iloc[i] = ''
        
    if len(newmedals[newmedals['NOC'] == country_list[i]][newmedals['Medal'] == 'Bronze'].sort_values('Year', ascending = False)) != 0:
        medal_amount_df['Most Recent Bronze Year'].iloc[i] = newmedals[newmedals['NOC'] == country_list[i]][newmedals['Medal'] == 'Bronze'].sort_values('Year', ascending = False)['Year'].iloc[0]
    else:
        medal_amount_df['Most Recent Bronze Year'].iloc[i] = ''

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
<ipython-input-51-d77f6c5fc8ad>:14: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if len(newmedals[newmedals['NOC'] == country_list[i]][newmedals['Medal'] == 'Gold'].sort_values('Year', ascending = False)) != 0:
<ipython-input-51-d77f6c5fc8ad>:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  medal_amount_df['Most Recent Gold Year'].iloc[i] = newmedals[newmedals['NOC'] == country_list[i]][newmedals['Medal'] == 'Gold'].sort_values('Year', ascending = False)['Year'].iloc[0]
<ipython-input-51-d77f6c5fc8ad>:19: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if len(newmedals[newmedals['NOC'] == country_list[i]][newmedals['Medal'] == 'Silver'].sort_values('Year', ascending = False)) != 0:
<ipython-input-51-d77f6c5fc8ad>:20: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  medal_amount_df['Most Recent Silver Year'].iloc[i] = newmedals[newmedals['NOC'] == country_list[i]][newmedals['Medal'] == 'Silver'].sort_values('Year', ascending = False)['Year'].iloc[0]
<ipython-input-51-d77f6c5fc8ad>:24: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if len(newmedals[newmedals['NOC'] == country_list[i]][newmedals['Medal'] == 'Bronze'].sort_values('Year', ascending = False)) != 0:
<ipython-input-51-d77f6c5fc8ad>:25: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  medal_amount_df['Most Recent Bronze Year'].iloc[i] = newmedals[newmedals['NOC'] == country_list[i]][newmedals['Medal'] == 'Bronze'].sort_values('Year', ascending = False)['Year'].iloc[0]

In [52]:
medal_amount_df.sort_values('Gold', ascending = False)

,Country,Gold,Silver,Bronze,Most Recent Gold Year,Most Recent Silver Year,Most Recent Bronze Year
11,USA,1131.0,901.0,791.0,2016.0,2016.0,2016
18,URS,471.0,373.0,350.0,1988.0,1988.0,1988
39,GER,317.0,343.0,321.0,2016,2016,2016
31,GBR,284.0,314.0,288.0,2016.0,2016.0,2016
4,FRA,258.0,275.0,289.0,2016.0,2016.0,2016.0
...,...,...,...,...,...,...,...
114,SEN,0.0,1.0,0.0,,1988,
116,PHI,0.0,3.0,7.0,,2016,1992
117,UAR,0.0,1.0,1.0,,1960,1960
119,NAM,0.0,4.0,0.0,,1996,
148,TGA,0.0,1.0,0.0,,1996,

In [41]:
testdf = medals.sort_values('NOC', ascending = False).drop_duplicates(subset=['Year','Event','Medal'])

In [42]:
testdf

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
83484,42417,Ann-Mary Gwynne Grant (Fletcher-),F,25.0,170.0,66.0,Zimbabwe,ZIM,1980 Summer,1980,Summer,Moskva,Hockey,Hockey Women's Hockey,Gold
45645,23549,Kirsty Leigh Coventry (-Seward),F,24.0,176.0,64.0,Zimbabwe,ZIM,2008 Summer,2008,Summer,Beijing,Swimming,Swimming Women's 200 metres Backstroke,Gold
45647,23549,Kirsty Leigh Coventry (-Seward),F,24.0,176.0,64.0,Zimbabwe,ZIM,2008 Summer,2008,Summer,Beijing,Swimming,Swimming Women's 400 metres Individual Medley,Silver
45646,23549,Kirsty Leigh Coventry (-Seward),F,24.0,176.0,64.0,Zimbabwe,ZIM,2008 Summer,2008,Summer,Beijing,Swimming,Swimming Women's 200 metres Individual Medley,Silver
45641,23549,Kirsty Leigh Coventry (-Seward),F,20.0,176.0,64.0,Zimbabwe,ZIM,2004 Summer,2004,Summer,Athina,Swimming,Swimming Women's 100 metres Backstroke,Silver
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156892,78805,Nouria Mrah-Benida,F,29.0,162.0,54.0,Algeria,ALG,2000 Summer,2000,Summer,Sydney,Athletics,"Athletics Women's 1,500 metres",Gold
89414,45314,Abderrahmane Hammad Zaheer,M,23.0,189.0,70.0,Algeria,ALG,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Men's High Jump,Bronze
207879,104345,Assa Djabir Sad-Guerni,M,23.0,187.0,70.0,Algeria,ALG,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Men's 800 metres,Bronze
224926,112998,Hocine Soltani,M,23.0,165.0,60.0,Algeria,ALG,1996 Summer,1996,Summer,Atlanta,Boxing,Boxing Men's Lightweight,Gold
24200,12684,Jan D. Boersma,M,19.0,NaN,NaN,Netherlands Antilles,AHO,1988 Summer,1988,Summer,Seoul,Sailing,Sailing Mixed Windsurfer,Silver

In [43]:
testdf[testdf['NOC'] == 'USA'][['Medal']].eq('Gold').sum()

Medal    1131
dtype: int64

In [46]:
testdf[testdf['Year'] == 2016][['Medal']].eq('Gold').sum()

Medal    306
dtype: int64